<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="img/icon.png">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/app.js"></script>
    <title>Cotacoes</title>
</head>

<body>
    <div class="main-content">
        {{> header}}
    </div>
    <img src="img/endgame.jpeg" alt="Endgame" id="endgame" class="portrait">
    {{> footer}}
</body>

</html>